In [11]:
import pandas as pd
df = pd.read_csv('results_mean.csv')[['0']]
df.rename(columns={'0': 'Theorem'}, inplace=True)
df.head()

        Theorem
0  t34_waybel_0
1    t5_funct_2
2    t57_tmap_1
3  t52_pre_topc
4   t72_funct_1

In [12]:
models = ['mean', 'rf', 'embed', 'embed_raw']

In [16]:
for model in models:
    df_model = pd.read_csv(f'results_{model}.csv')
    df[model] = df_model['1']

In [17]:
df.head()

        Theorem   mean     rf  embed  embed_raw
0  t34_waybel_0   True  False  False       True
1    t5_funct_2  False  False  False      False
2    t57_tmap_1  False  False  False      False
3  t52_pre_topc  False  False  False      False
4   t72_funct_1   True  False  False      False

In [19]:
df[models].any(axis=1).mean()

0.454

In [23]:
dependencies = df[models].corr()
dependencies

               mean        rf     embed  embed_raw
mean       1.000000  0.506093  0.636682   0.672321
rf         0.506093  1.000000  0.612543   0.565306
embed      0.636682  0.612543  1.000000   0.750469
embed_raw  0.672321  0.565306  0.750469   1.000000

In [26]:
# ile % b jest pokryte przez a
from itertools import product
for a, b in product(models, models):
    dependencies.loc[a, b] = (df[a] & df[b]).sum() / df[b].sum()

In [27]:
dependencies

               mean        rf     embed  embed_raw
mean       1.000000  0.892157  0.917910   0.896104
rf         0.452736  1.000000  0.611940   0.545455
embed      0.611940  0.803922  1.000000   0.766234
embed_raw  0.686567  0.823529  0.880597   1.000000